
.segment {
	background-color: rgba($color: #000, $alpha: 0.0) !important;
}

.menu {
	margin-top: 20px !important;
	border-radius: 0 !important;
	background-color: transparent !important;

	.item {
		border-radius: 0 !important;
	}
}

.active {
	background-color: tomato !important;
}