@import '../../scss/colors';

.menu {
	padding-top: 10px !important;
	border-radius: 0 !important;
	background-color: $background_color;

	.item {
		border-radius: 0 !important;
	}
}

.sidebar {

	.pushable {
		border: none;
	}

	.pusher {
		min-height: 100vh;
		border: none;
	}
}